<app-spinner *ngIf="loading"></app-spinner>
<div class="table-responsive-xl" *ngIf="!loading && cartTotal > 0">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody *ngFor="let items of cart">
      <tr>
        <td>{{ items.title }}</td>
        <td>{{ items.quantity }}</td>
        <td>{{ items.price | currency: "INR" }} x {{ items.quantity }}</td>
        <td>{{ items.price * items.quantity | currency: appCurrency }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3 class="float-right">
      Cart Total: {{ cartTotal | number | currency: "INR" }}
    </h3>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="cartTotal === 0">
  Your cart is empty! <br />
  <a routerLink="/products">Browse Products</a> to proceed with cart.
</div>
