<div class="container">
    <div class="row sticky-top">
        <div class="col-4">
            <h2>Shopping Cart</h2>
        </div>
        <div class="col-6">
            <!-- ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
            </ul-->
        </div>
        <div class="col gutter">
            <app-cart></app-cart>
        </div>
    </div>
</div>